@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  font-size: 0.9rem;
  color: #acafb4;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #42b5e8;
  padding: 0.5rem 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

.app-text {
  text-align: center;
  margin: 1rem auto;
  color: #fff;
  font-size: 2rem;
}

.link-list {
  display: flex;
  justify-content: flex-end;
}

.signup-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.login-signup {
  color: #42b5e8;
  font-size: 1rem;
  padding: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

input {
  padding: 1rem;
  margin: 1rem 0;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid #42b5e8;
}

.submit-btn {
  background-color: #97e493;
  padding: 1rem 0;
  margin: 1rem 0;
  color: #fff;
  font-weight: bold;
  width: 25%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #313944;
  padding: 5px 0;
}

.footer-list li {
  padding: 1rem 0;
  width: 100%;
}

.footer-list li:hover {
  font-size: large;
  transition: .4s;
}

.footer-list li div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-list li div i {
  font-size: 3rem;
}

.footer-list li div h6 {
  font-size: 1.9rem;
  margin: 0.2rem 0;
  text-align: center;
}

.timing-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.timing-btns {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.time-green {
  color: #42b5e8;
  font-weight: bold;
  padding: 1rem;
}

.time-red {
  color: #f42;
  font-weight: bold;
  padding: 1rem;
}

.time-green::placeholder,
.time-red::placeholder {
  color: #acafb4;
}

#timing {
  font-size: 1.5rem;
  font-weight: bold;
}

.time-circle {
  padding: 2rem 3rem;
  border: 2px #42b5e8 solid;
  border-radius: 50%;
}

.measure-list {
  grid-gap: 5px;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
}

.measure-show {
  padding: 1rem;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #acafb4;
}

.single-measure {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}

.measure-name,
.measure-timing,
.measure-count {
  padding: 1rem 0;
}

.measure-timing {
  padding: 1rem 0.3rem;
  width: 50%;
  margin: 0 auto;
  border: 2px #42b5e8 solid;
  border-radius: 50%;
}

.measure-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
