@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
  font-family: 'Andada Pro', serif;
}

code {
  font-family: 'Vollkorn', serif;
}

.mainApp {
  border: 10px solid black;
  border-radius: 10px;
  margin-top: 5vh;
}

.Page {
  min-height: 75vh;
  padding: 2% 8%;
  margin: 2% 0;
}

.submit {
  background-color: #D72483 !important;
  border: none;
}

.profile {
  height: 70vh;
  font-size: 20px;
  text-align: center;
}

.blue {
  background-color: #D72483 !important;
}
